.Titre{
    text-align: center;
    font-family:monospace;
    background-color: darkblue;
    color: white;
    margin-block: 0;
}
.PDP{
    background-color: black;
    color: white;
}
.menu{
    display: grid;
    grid-template-columns: repeat(3, 500px);
    text-align: center;
    background-color: darkblue;
    color:white;
    padding: 10px;
}
.Aframe{
    display:grid;
    grid-template-rows: 50x, 600px ;  
    background-color: skyblue;
  }
.scene{
    background-color: green;
    width: 500px;
    height: 500px;
}
.contenu{
    background-color: azure;
}
.body{
    background-color: skyblue;
}
